body {
    background: #aecbd7;
    color: #25ddb5;
    margin-top: 5rem;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #6698bb;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #29e7eb;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #06a2c1;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #8a8d74;
    padding: 10px 20px;
    border: 1px solid #eddcdc;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #0fdf2e;
  }
  
  a.article-title:hover {
    color: #1388ee;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 200px;
    margin: 10px auto;
    background-color: #4f4c4c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 2px 10px rgba(21, 19, 19, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #333;
}

pre {
    background-color: #f4f4f450;
    padding: 10px;
    overflow-x: auto;
}

code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
}