{% extends 'blog/base.html'%}
{% block content %}
<article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">    
<h1>introduction to Python and Django</h1>
    <p>Django is a Python framework that makes it easier to create web sites using Python.

        Django takes care of the difficult stuff so that you can concentrate on building your web applications.
        
        Django emphasizes reusability of components, also referred to as DRY (Don't Repeat Yourself), and comes with ready-to-use features like login system, database connection and CRUD operations (Create Read Update Delete).
    </p>
    <P>
        you can preper the Django by Wschools :<a href="https://www.w3schools.com/django/django_intro.php">click here</a>

    </P>

    <p>
        <h4>There are numerous resources available online to learn Python and Django. Here's a list of some popular websites where you can learn these technologies:</h4>
<p>
<h2>For Python:</h2>
</p><p></p>
Python.org: The official website for the Python programming language offers extensive documentation, tutorials, and guides for beginners and advanced users alike.

Website:  <a href="https://www.python.org/">click here</a> 
</p><p>
Real Python: Real Python provides tutorials, articles, and courses covering various Python topics, from basics to advanced concepts.

Website:  <a href="https://realpython.com/">click here</a> 
</p><p>
Codecademy: Codecademy offers interactive Python courses suitable for beginners, covering fundamental concepts and practical projects.

Website:  <a href="https://www.codecademy.com/learn/learn-python-3">click here</a> 
</p><p>
Coursera: Coursera offers Python courses from universities and institutions worldwide, including introductory courses and specialization tracks.

Website: <a href="https://www.coursera.org/">click here</a> 
</p><p>
edX: edX hosts Python courses from top universities and organizations, providing both free and paid options to learn Python programming.

Website:  <a href="https://www.edx.org/">click here</a> 
    </p>

    <p>
    </article>
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">  
        <h2>For Django:</h2>
<P>
        Django Documentation: The official Django documentation is an excellent resource for learning Django, covering everything from installation to advanced topics.
   </p>  <p>   
        Website: <a href="https://docs.djangoproject.com/en/stable/">click here</a> 
    </p><p>
        Django Girls Tutorial: Django Girls provides a beginner-friendly tutorial that guides you through building a Django web application from scratch.
        
        Website:<a href="https://tutorial.djangogirls.org/">click here</a> 
    </p><p>
        Mozilla Developer Network (MDN): MDN offers a comprehensive Django tutorial series that covers various aspects of web development with Django.
   
        Website: <a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django">click here</a> 
    </p><p>
        Django for Beginners Book: "Django for Beginners" by William S. Vincent is a popular book that provides a step-by-step guide to building web applications with Django.
    </p><p>
        Website: <a href="https://djangoforbeginners.com/">click here</a>
    </p> <p> 
        Django Channels Documentation: If you're interested in real-time web applications with Django, the Django Channels documentation offers detailed guides and examples.
    
        Website:  <a href="https://channels.readthedocs.io/en/stable/">click here</a>

    </p>
     

    


<p>

     Django Documentations : <a href="https://docs.djangoproject.com/en/5.0/">click here</a>
    
    </p>
</article>
{% endblock content%}